a div {
        background-color: : #4db6ac;
        }
      
    /*Na primeira div do seu html */

    .nav-wrapper {
        background-color:#37474f ;
        }
      
    #ff {
        font-size: 50px;
        margin-left: 100PX;
        font-family: "kaushan script", cursive; 
        }
    
    #ec {
        background-color: #37474f ;
        }

    #oi{
        background-color: #37474f ;
    }
    #bv{
        background-color: #37474f ;
    }
    body{
        background-color: #cfd8dc;
    }
    
    html{
    margin:0; 
    padding: 0;
    }
    .container{
        background-color: #eceff1;
    }
    #ee{
        background-color: #37474f ;
    }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  h5{
    text-align: center; 
  }
#gh{
    text-align: center;
}
h2{
    font-family: pacifico;
    text-align: center;
    background-color: #37474f;
}
#se{

    color: black;
}
#co{
    color: #34224f;
}
 h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000000;
 }
 #card-content{
color:#000000;
text-align: right;
font-family: pacifico;
 }

 #tts{
    color: #000000;
    align-content: center;  


}
#uu{
    font-family: 'Quicksand', sans-serif;
    font-size: 18   px;
    color: #000000;
}    
#kp{
    background-color: #a5d6a7;
} 
#cão{
    margin-top: 150px;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#dfg{
    background-image: url(alegria.jpg);
}
#hfg{
 background-image: url(animes.jpg);   
}
#mbv:hover #a li{
    display: block;
    /*transition-timing-function: ease;
    color: #4db6ac;
    transition-duration: 3s;
    transition-property: 00;*/
}

#a li{ 
    clear: both;
    width: 100%;
    display: none;
}
#a li:hover{
    border-bottom: #4db6ac 2px solid; 
}
#ff{
    font-size: 25px;
    margin-left: 100px;
    font-family: 'Kaushan Script', cursive;
}
#ec{
    background-color: #4db6ac;
}

#bv{
    background-color: #4db6ac;
}

#mvb .btn:hover{
    background: #0E2F44;
}
#mbv:hover #a li{
    display: block;
    /*transition-timing-function: ease;
    color: #4db6ac;
    transition-duration: 3s;
    transition-property: 00;*/

}
#a{
    margin-top: -0.5%;
    position: fixed;
    margin-left: -10%;
}
#a li{ 
    clear: both;
    width: 100%;
    display: none;
}
#a li a{ 
    background: #0E2F44;
    font-size: 10px;
    color: white;
}
#a li:hover{
    border-bottom: white 2px solid; 
    background-color: white;

}
#lua{
    background-color: #ef5350 red lighten-1;

}
#nuvem{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-color: #4db6ac;
    color: black;
}
#su{
    color:black;
}

}
#rua{
    background-color: #ef5350 red lighten-1;
}
ul li{
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;

}
#uva{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}
#morango{
    height: 60px;
    width: 1000;
}
img{
    float:left;
}
a div {
    background-color: : #4db6ac;
}

/*Na primeira div do seu html */

.nav-wrapper {
    background-color: #0E2F44;
}

#ff {
    font-size: 50px;
    margin-left: 100PX;
    font-family: "kaushan script", cursive; 
}

#ec {
    background-color: #37474f ;
}

#oi{
    background-color:#0E2F44 ;
}
#bv{
    background-color: #37474f ;
}

html{
    margin:0; 
    padding: 0;
    background:#e8eaf6 ;
}
.container{
    color:grey lighten-3;
    background-color: #e8eaf6 ;
}
#ee{
    background-color: #37474f ;
}


main {
    flex: 1 0 auto;
}
h5{
    text-align: center; 
}
#gh{
    text-align: center;
}
h2{
    font-family: pacifico;
    text-align: center;
    background-color:#0e2f44;
}
#se{

    color: black;
}
#co{
    color: #34224f;
}
h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000000;
}
#card-content{
    color:#000000;
    text-align: right;
    font-family: pacifico;
}

#tts{
    color: #000000;
    align-content: center;  


}
#uu{
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    color: #000000;
}    
#kp{
    background-color: #b4d8ee;
} 
#cão{
    margin-top: 150px;
}   

main {
    flex: 1 0 auto;
}
#tu{

}
li .btn-floating, li .btn-floating:hover{
    background: transparent;
}
#abacaxi{
    margin-left: 50px;
    margin-right: 50px;
}
#cat{
    margin-top: 50px;
    margin-left: 190px;
}
#pi{
    color: white;
}
#lip{
   margin-left: -65px;
   font-size: 25px;
}
#a{
    font-size: 5px;
}
#lde{
    size: 20px;
}
#jf{
    color: purple;
}
#rr{
    font-size: 20px;
    text-align: left;

}
#YY{
    margin-right: 70PX;
    height:450px;

}
#ii{
    flex: right;
}

