 <div class="card-content">
        <div id="bu"><a href="sobre.html" class="btn btn-floating "><i class="material-icons">arrow_forward</i></a></div>      
            <p>Conheça um pouco dos criadores desse blog!</p>
        </div>
      </div>
    </div>
  </div>
           
           <div class="row">
            <div id="vv">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          
        </div>
        <div class="card-content">
        <div id="bu"><a href="filmes.html" class="btn btn-floating "><i class="material-icons">arrow_forward</i></a></div>      
            <p>Leia sobre seus filmes e séries favoritos, e Receba indições de séries maravilhosas!!</p>
        </div>
      </div>
    </div>
  </div>    
</div>s
    <div class="row">
      <div id="ii">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          
        </div>
        <div class="card-content">
        <div id="bu"><a href="Beleza.html" class="btn btn-floating "><i class="material-icons">arrow_forward</i></a></div>      
            <p>Leia sobre indicações de produtinhos, expêriencias, cuidados com a pele e como fazer aquele olho bafônico! </p>
        </div>
      </div>
    </div>
   </div>
<br>
  <div class="row">
    <div id="vv">
       <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          
        </div>
        <div class="card-content">
        <div id="bu"><a href="geek.html" class="btn btn-floating "><i class="material-icons">arrow_forward</i></a></div>      
            <p>Leia sobre os melhores animes e hqs!</p>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>