   <h3>Apresentações</h3>
         <p class="conteudoBeleza"> <i class="material-icons">favorite</i>Olá pessoas incríveis da internet!!! Meu nome é Marcela Eduarda, mais conhecida como Duda Oliveira faço parte desse grupo maravilhoso formadores desse Blog. Tenho 15 anos, estudo na EEEP Paulo Petrola, faço curso técnico de informatica e possuou uma paixão imensa por produtos de beleza, especialmente por maquiagens. E vou compartilhar minhas experiências com alguns produtinhos e também como aprendi a me maquiar, dando várias dicas para vocês!!! Lembrem-se não sou profissional da  área, falo aqui por minhas experiências e interesse no assunto!!! Espero que gostem meus amores e aprendam muito!!! </p>
         <h5 class="conteudoBeleza">Cuidados com a pele:</h5>
         <p class="conteudoBeleza">Antes e depois da maquiagem em si, é importante que você tome alguns cuidados com a pele. Segue em abaixo algumas dicas de produtos que você pode usar e também alguns metodos!</p>
         <div class="col s12 m6">
            <span class="flow-text"> 
               <img src="filmes/4.png" class="responsive-img">
            </span>
         </div>
       
         </div>
         <div class="col s12 conteudoBeleza">
            <p>
               1.Manter o rosto sempre limpo e hidratado, uma boa indicação é ultilizar um produto dois em um, para tratamentos mais rápidos, procure um dermatologista e veja qual é o correto  para sua pele, prefira um que seja uilizados em tratamentos de acne.
            </p>
            <p>
               2.Sempre lavar o rosto depois de usar uma maquiagem, isso evita que os produtos acumulem nos seus poros, e evita ressecamento e/ou oleosidade.
            </p>
            <p>
               3.Passar um lenço com gelo na pele antes de passar a maquiagem, ou então uma colher bem gelada, isso faz com que os seus poros se fechem e assim evitando de acumular produtos na sua pele, além de deixar uma aparência menos avermelhada nas espinhas, e desincha suas olheiras.
            </p>
            <p>
               4.Sempre olhar o rótulo dos produtos que vai usar, para ver se contém algum elemento que você é alergico(a).
            </p>
            <p>
               5.Sempre passar protetor solar antes da maquiagem caso for sair no sol. O único problema é que muitos protetores solares alteram a fórmula do produto, porém o protetor solar da La Roche-Posay fator 30, não altera e ainda proteje sua pele, mas o mais correto é perguntar a seu dermatologista qual é o mais recomendado para o seu tipo de pele, a maior parte das pessoas se adapitam muito bem com esse, mas não é em todos. No meu caso funcionou muito bem e ainda hidratou minha pele, se fez alguma diferença na fórmula nem deu para notar.
            </p>
            <p> 
               6.Não utilizar maquiagem por um logo período de tempo, isso faz muito mal para pele.
            </p>
            <p>
               7.Utilize óleos hidrantantes indicados pelo seu medico e também hidratantes independente de ter pele seca ou não.
            </p>
         </div>
         <h5 class="conteudoBeleza">Dicas de iluminação da pele e contorno:</h5>
         <p class="conteudoBeleza">Acreditem se quiser mas eu aprendi a me maquiar aprendendo os pontos de iluminação da pele, onde devemos dar destaque e onde temos que dar uma desfarçada, é claro que isso vai de rosto para rosto, porém exite um tipo de contorno que serve para qualquer formato de rosto, que é escurecer as estremidades do rosto e iluminar o centro. Vai seguindo aí minhas dicas:</p>
         <div class="row">
            <div class="col s12 m6"><span class="flow-text imagemSecundaria"><img src="filmes/contorno.jpg" class="responsive-img"></span></div>
            <div class="col s12 m6 segundaImagem"><span class="flow-text imagemSecundaria"><img src="filmes/2.png"  class="responsive-img"></span></div>
         </div>
         <div class="col s12 conteudoBeleza">
            <p>
               1.Para um resultado mais leve sem ter muita cobertura, e se prefere uma pele mais leve, o melhor contorno indicado é o em pó, para um resultado mais forte e bem marcado é melhor o em creme, no caso o corretivo.
            </p>
            <p>
               2.Para contorno em pó é necessário ter um pó, de sua preferência, dois tons acima do tom da sua pele, ou se prefirir três, ou então um pó bronzeador, você vai aplicar com um pincel de contorno, caso não tenha aplique com um pincel de blash ou então um pincel de pó, no meio da bochecha em direção a boca, não chegue muito perto da boca, esfume bem caso queira aplique nas extremidades de sua testa, isso vai fazer com que seu rosto fique mais fino, pois desfarçou suas bochechas, deixando mais visível o centro do seu rosto.
            </p>
            <p>
               3.Para contorno em creme, é preciso de dois corretivos um, dois ou três tons acima do seu tom normal, e o outro um ou dois tons abaixo do seu tom de pele, aplicar o mais claro no centro da sua testa, em formato de triangular abaixo do olhos, no meio do nariz e também um pouco no queixo, o mais escuro nos mesmos locais do contorno em pó, se quiser passe o corretivo mais claro abaixo do corretivo mais escuro, e o mais escuro contornando o mais claro no nariz isso vai fazer com que o seu rosto e seu nariz fiquem mais finos, e um dos meus favoritos é a paleta de corretivos da Ruby Rose, ele possui bastantes tons, além de oferecer uns com tom mais rosado, caso tenha passado uma base muito amarelada, e uns mais amarelados, caso queira neutralizar o tom da sua pele. 
            </p>
            <p>
               4.Para o ilumidador é bom colocar em cima do ossinho da bochecha e no meio do nariz, prefira sempre iluminadores em pó, pois normalmente iluminadores em creme costumam retirar a cobertura de baixo e muitas vezes, quando a pessoa não tem muita pratica, acaba manchando. Um bom iluminador em pó é o da MAC, apesar do preço vale muito a pena investir nele, falo por experiência própria.
            </p>
            <p>
               5.Muitas pessoas possuem dificuldade na hora de contornar o nariz, uma boa dica é passar o corretivo, tanto o claro quanto o escuro, apenas na parte acima do nariz e o em pó também, para um resultado melhor matifique os lados do nariz isso da a impressão de ser mais fino. 
            </p>
         </div>
         <h5 class="conteudoBeleza">Minhas experiências com alguns produtos:</h5>
         <p class="conteudoBeleza">Como diz o ditado: "Nem tudo são flores", muitos produtos que já usei me causaram uma alergia, uma irritação na pele por causa de algum elemento presente na fórmula, outros não funcionaram como deveriam funcionar, por isso eu sempre indico que leiam o rótulo, coisa que não fiz e me dei mal, outros me dei muito bem, a minha pele aceitou tranquilamente, é claro que nem tudo que serve em mim vai servir em você, assim como nem tudo que não deu certo para mim não vai servir para você, porém trouxe aqui uma lista de produtos, uns bons e outros nem tanto, talvez seja o modo que eu apliquei? Talvez, mas muitos eu apliquei de mil formas e não deu certo em nenhuma delas:</p>
         <div class="col s12 conteudoBeleza">
            <p>
               1.Lapís de olho da Avon: Não deu muito certo rsrs, ele me causou uma alergia e acabou criando uma bolhinha no meu olho, pensei que fosse porque eu coloquei na linha d'agua, mas não foi, ele simplesmente não fez bem ao meu olho de nenhuma forma, apenas se for usado para esfumar o olho em cima, ai sim eu o indico, fica lindo ele é bem fácil de esfumar, além de ser bem piguimentado, porém não uso em baixo.
            </p>
            <p>
               2.Base Ruby Rose: Base maravilhosa, cobertura muito boa, deixa a pele bem bonita caso seja aplicada depois do primer, se não, não fica tão legal. No entanto, por ser bem mate, ela resseca muito a pele, por isso deve hidratar bem a pele antes de usar, e também lavar bem o rosto após o uso, para evitar que ela acumule nos poros, algo que acontesse bastante com quem usa ela de maneira inadequada, e procurar não usar muita quantidade perto do olho, pois ela irrita um pouco, fora esses probleminhas ela é muito boa.
            </p>
            <p>
               3.Lapís de sombrancelha da Quem dice Berenice: É bem piguimentado, porém não fica por muito tempo e as vezes mancha, pois é meio díficl de esfumar.
            </p>
            <p>
               4.Primer da Mary Kay: Não é fazendo propaganda, mas ele foi um dos melhores primes que já usei, fecha bem os poros, deixa um aspecto luminoso na pele além de fazer com que a maquiagem dure por bastante tempo.
            </p>
            <p>
               5.Paleta de cores da Naked: Sinto se tem alguém aí que ama essa marca, mas as sombras dela esfarelam muito apesar de ser bem piguimentadas, e algumas sombras não piguimentam em cima da outra, tudo bem que é algo que nem sempre vai acontecer, mas pelo preço que ela custa deveria sim piguimentar em cima de outra sombra e esfumar bem, sem contar que mancha pelo fato de não esfumar bem.
            </p>
            <p>
               6.Paleta de iluminadores Strobing a luisance: Maravilhosa, ilumina muito bem, tem tons lindos que encaixam na maioria dos tons de pele, não esfarela, resumindo maravilhosa indico super ela.
            </p>
         </div>
         <h4>Tipos de pincéis</h4>
         <h5>Como sabem exitem uma infinidade de tipos de pincéis, por isso trouxe aqui alguns exemplos e como podem usa-los, lembrando não é regra, muitos pincéis são multifuncionais(o que particularmente é uma maravilha!), por isso não é preciso ter todos os pincéis!Aqui vai alguns exemplos:</h5>
         <div class="row">
            <div class="col s12 m6"><span class="flow-text imagemSecundaria"> <img src="filmes/maqui.png" class="responsive-img" style="margin-left: 200px"></span></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
             <h5>
             Só um recadinho:Fique linda do seu jeito, com ou sem maquigem, pois ela é só um acessório, ela não deixa a gente bonita, a gente é que faz ela ficar bonita!Se maquei para si não para os outros, não deixe os padroes de beleza da sociedade definir sua personalidade, ou seus gostos, você não pecisa dela, só quando quer!!!
             </h5>