a div {
        background-color: : #4db6ac;
        }
      
    /*Na primeira div do seu html */

    .nav-wrapper {
        background-color:#37474f ;
        }
      
    #ff {
        font-size: 50px;
        margin-left: 100PX;
        font-family: 'Quicksand', sans-serif;
        }
    
    #ec {
        background-color: #37474f ;
        }

    #oi{
        background-color: #37474f ;
    }
    #bv{
        background-color: #37474f ;
    }
    body{
        background-color: #d1c4e9 ;
    }
    
    html{
    margin:0; 
    padding: 0;
    }
    .container{
        background-color: #eceff1;
    }
    #ee{
        background-color: #37474f ;
    }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  h5{
    text-align: center; 
  }
#gh{
    text-align: center;
}
h2{
    font-family:  'Quicksand', sans-serif;
    text-align: center;
    background-color: #37474f;
}
#se{

    color: black;
}
#co{
    color: #34224f;
}
 h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000000;
 }
 #card-content{
    color:#000000;
    text-align: right;
    font-family:'Quicksand', sans-serif;
 }

 #tts{
    color: #000000;
    align-content: center;  


}
#uu{
    font-family: 'Quicksand', sans-serif;
    font-size: 18   px;
    color: #000000;
}    
#kp{
    background-color: #a5d6a7;
} 
#cão{
    margin-top: 150px;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#dfg{
    background-image: url(alegria.jpg);
}
#hfg{
 background-image: url(animes.jpg);   
}
#mbv:hover #a li{
    display: block;
    /*transition-timing-function: ease;
    color: #4db6ac;
    transition-duration: 3s;
    transition-property: 00;*/
}

#a li{ 
    clear: both;
    width: 100%;
    display: none;
}
#a li:hover{
    border-bottom: #4db6ac 2px solid; 
}
#ff{
    font-size: 25px;
    margin-left: 100px;
    font-family: 'Quicksand', sans-serif;
}
#ec{
    background-color: #4db6ac;
}

#bv{
    background-color: #4db6ac;
}

#mvb .btn:hover{
    background: #0E2F44;
}
#mbv:hover #a li{
    display: block;
    /*transition-timing-function: ease;
    color: #4db6ac;
    transition-duration: 3s;
    transition-property: 00;*/

}
#a{
    margin-top: -0.5%;
    position: fixed;
    margin-left: -10%;
}
#a li{ 
    clear: both;
    width: 100%;
    display: none;
}
#a li a{ 
    background: #0E2F44;
    font-size: 10px;
    color: white;
}
#a li:hover{
    border-bottom: white 2px solid; 
    background-color: white;

}
#lua{
    background-color: #ef5350 red lighten-1;

}
#nuvem{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-color: #4db6ac;
    color: black;
}
#su{
    color:black;
}

}
#rua{
    background-color: #ef5350 red lighten-1;
}
ul li{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;

}
#uva{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}
#morango{
    height: 60px;
    width: 1000;
}
img{
    float:left;
}
a div {
    background-color: : #4db6ac;
}

/*Na primeira div do seu html */

.nav-wrapper {
    background-color: #0E2F44;
}

#ff {
    font-size: 50px;
    margin-left: 100PX;
    font-family: 'Quicksand', sans-serif;
}

#ec {
    background-color: #37474f ;
}

#oi{
    background-color:#0E2F44 ;
}
#bv{
    background-color: #37474f ;
}

html{
    margin:0; 
    padding: 0;
    background:#e8eaf6 ;
}
.container{
    color:grey lighten-3;
    background-color: #e8eaf6 ;
}
#ee{
    background-color: #37474f ;
}


main {
    flex: 1 0 auto;
}
h5{
    text-align: center; 
}
#gh{
    text-align: center;
}
h2{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color:#0e2f44;
}
#se{

    color: black;
}
#co{
    color: #34224f;
}
h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000000;
}
#card-content{
    color:#000000;
    text-align: right;
    font-family: pacifico;
}

#tts{
    color: #000000;
    align-content: center;  


}
#uu{
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    color: #000000;
}    
#kp{
    background-color: #b4d8ee;
} 
#cão{
    margin-top: 150px;
}   

main {
    flex: 1 0 auto;
}
#tu{

}
li .btn-floating, li .btn-floating:hover{
    background: transparent;
}
#abacaxi{
    margin-left: 50px;
    margin-right: 50px;
}
#cat{
    margin-top: 50px;
    margin-left: 190px;
}
#pi{
    color: white;
}
#lip{
   margin-left: -55px;
   font-size: 20px;
}
#lep{
    font-family: 'Quicksand', sans-serif;
}
#a{
    font-size: 5px;
}
#lde{
    size: 20px;
}
#jf{
    color: purple;
}
#rr{
    font-size: 20px;
    text-align: left;

}
#YY{
    margin-left: 3px;
    height:450px;

}
#vv{
   align-items: center;
}
#ii{
  align-items: center;
}

.imgPrincipal{
    max-height: 10em !important;
}
.imagemSecundaria img{
    height: 15em !important;
}
@media only screen and (max-width: 600px) {
    .segundaImagem{
        margin-top: 5%;
    }
    #a{
        margin-left: 0;
        margin-left: -20%;
    }
    #imagemFinal{
        width: 80%;
    }
    #sç{
        width: 100%;
        margin-right: 1000px;
    }
    #kla{
        width: 100%;
       }
    #gv{
        width: 100%;
    }
    #coisa{
        width: 100%;
    }
    #kkl{
        width: 100%;
        
    }
    #kço{
        width: 100%;
    }
    #ty{
        width: 100%;
    }
    #logal{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #iu{
        width: 100%;
        margin-right : 800px;
        width: 500px;
        margin-left: 225px;
    }
    #ty{
        width: 100%;
        margin-right : 800px;
        width: 500px;
        margin-left: 225px;
        height: 400px;

    }
    #sç{
        width: 100%;
        margin-right: 800px;
        width: 700px;
        margin-left: 85px;
    }
    #kla{
        width: 100%;
        margin-right: 800px;
        width: 600px;
        margin-left: 175px;
    }
    #gv{
        width: 100%;
        margin-right: 760px;
        margin-left: 140px;
        width: 670px; 
    }
    #riv{
        width: 100%;
        margin-right: 770px;
        margin-left: 180px;
        width: 650px;    
    }
    #coisa{
        width: 100%;
        margin-left: 170px;
        margin-right: 570px;
        width: 600px;
    }
    #kkl{

                width: 400px;
               margin-left: 270px;
                margin-right: 100px;
            }

    #imit{
        width: 100%;
        margin-right: 600px; 
        margin-left: 145px;
        width: 650px;
    }
    #simple{
        width: 100%;
        margin-right: 600px; 
        margin-left: 145px;
        width: 650px;
    } 
    #du{
        width: 100%;
        margin-right: 600px; 
        margin-left: 145px;
        width: 650px;  
    }  
    #hom{
        width: 100%;
        margin-right: 600px; 
        margin-left: 145px;
        width: 650px;  
    }
    #ri{
           width: 400px;
               margin-left: 270px;
                margin-right: 300px;
    }
    #kço{
            width: 400px;
               margin-left: 235px;
                margin-right: 300px;   
    }
    #sd{
       width: 50%;
       
        margin-left: 20px;
        width: 380px;

        height: 300px;  

    }
  
}

#amem{
    font-size: 25px;
    margin-left: -65px;
}
#recomendados .hide-on-large-only {
    margin-left:10%;
}
#pp{
    margin: 15px;
    font-size: 20px;
}
#pl{
    margin: 15px;
}

#pip{
    animation-name: miseria;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#oo{
    margin-left: 80px;
}
























@keyframes miseria{
    0%{
        color: black;
        }50%{
            color: purple;
            }100%{
                color: blue;
            }






}